__pycache__/
telespy.session
telespy.log
telespy.session-journal
telespy/.env
telespy_bot.session
telespybot.session
.DS_Store
users.json
telespybot.session-journal
userbots.json
watchers.json
/online_logs
